---
import Footer from '../../../components/MainFooter.astro'
import Header from "../../../components/MainHeader.astro"
import InputVue from "../../../components/vue/writeArea.vue"
import {db} from '../../../utils/db'
import { content, content_component } from '../../../models/schema'
import {eq} from 'drizzle-orm'

const headerHeight = "70px"
const {creator, writeid} = Astro.params

const api = import.meta.env.GO_API

const data = await db.select().from(content_component).where(eq(content_component.contentId, writeid))
const dataContent = await db.select().from(content).where(eq(content.id, writeid))
---

<script>
    import { initFlowbite } from 'flowbite'
</script>
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Write Content</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>
    <body>
        <Header/>
        <div class="mx-auto sm:w-11/12 md:w-2/3 lg:w-3/5">
            <InputVue contentid={writeid} api={await api} datacontent={data} content={dataContent[0]} client:only="vue"/>
        </div>
        <Footer/>
    </body>
</html>

<style define:vars={{headerHeight}}>
    .add-icon{
        position: relative;
        height: 100px;
    }
</style>