---
import Header from '../components/MainHeader.astro'
import Preview from '../components/ContentPreview.astro'
import Footer from '../components/MainFooter.astro'
import Search from '../components/search.astro'

import {db} from '../utils/db'
import {eq} from 'drizzle-orm'
import {creator, content} from '../models/schema'

export const prerender = false

const search = Astro.cookies.get("search")?.value === undefined ? "all" : Astro.cookies.get("search")?.value
const searching = Astro.cookies.get("searching")?.value === undefined ? "disable" : Astro.cookies.get("searching")?.value

const datas = await db.select().from(creator).leftJoin(content, eq(creator.id, content.creatorId))

const dataFilter = datas.filter(res => {
    console.log(res)
    return res.content_root.tittle.includes(search)
})

const data = searching === "enable" ? dataFilter : datas
Astro.cookies.set("searching", "disable")

console.log(search)
console.log(searching)
---

<!doctype html>
<html lang="en" class="">
    <head>
        <meta charset="UTF-8" />
        <title>beranda</title>
    </head>
    <body class="bg-gray-50 dark:bg-gray-900">
        <script>
            import { Modal } from 'flowbite'
          
            // const $buttonElement: HTMLElement | null = document.querySelector('#button');
            // const $modalElement: HTMLElement | null = document.querySelector('#defaultModal');
            // const modal = new Modal($modalElement);
        
            // if ($buttonElement) {
            //   $buttonElement.addEventListener('click', () => modal.toggle());
            // }
        </script>
        <Header>
            <div class="w-100">
                <Search/>
            </div>
        </Header>
        <div class="content">
            {data.map(res => {
                return <div class="preview-container" onclick={"window.location.href="+"'"+res.content_root.contentLink+"'"}>
                    <Preview 
                        buttonDeck="butt-deck"
                        creator_name={res.creator.name} 
                        creator_img={res.creator.image} 
                        tittle={res.content_root.tittle} 
                        content_img={res.content_root.previewImg}
                        posted={res.content_root.posted}
                        like={res.content_root.like}
                        view={res.content_root.view}
                        prev_desc={res.content_root.previewDesc}
                    />
                </div>
            })}
        </div>
        <slot/>
        <Footer mainClass="footer"/>
    </body>
</html>

<style is:global>
    body{
        position: relative;
        margin: 0px;
        z-index: -1000;
    }
    .content{
        position: relative;
        top: 10px;
        z-index: -100;
    }
    .content-left{
        left: 0px;
    }
    .head-height{
        height: 70px;
    }
    .preview-container{
        position: relative;
        z-index: -1001;
        width: 50%;
    }
    .preview-container:hover{
        opacity: 70%;
    }

    @media (pointer: coarse)  {
	/* mobile device */
        .logo{
            display: none;
        }
        .content{
            width: 90%;
            min-height: 2000px;
            left: 5%;
            top: 120px;
        }
        .content-left{
            left: 5%;
            font-size: 3vw;
        }
        .head-height{
            height: 120px;

        }
        .preview-container{
            width: 95%;
        }
        #cat{
            position: relative;
            top: 30px;
        }
        .title{
            font-size: 8vw !important;
        }
        .search{
            left: 55% !important;
        }
        .butt-deck .icon p{
            width: 100px;
            top: -22px !important;
            font-size: x-large !important;
            opacity: 60%;
            left: -70px !important;
        }
        .butt-deck img{
            top: 60px;
            height: 40px;
        }
        .footer{
            height: 500px !important;
            top: 120px !important;
        }
    }

    @media (pointer: fine), (pointer: none) {
	/* desktop */
        .content{
            width: 1000px;
            left: calc((100% - 1000px)/2);
        }
        .content-left{
            left: calc((100% - 1000px)/2);
        }
        .search{
            left: calc(((100% - 1000px)/2) + 25%) !important;
        }
        .head-height{
            height: 70px;
        }
        .preview-container{
        }
        #cat{
            position: relative;
            top: 20px;
        }
        .title{
            font-size: 3em !important;
        }

        .butt-deck img{
            top: 20px;
            height: 20px;
        }
        .butt-deck p{
            width: 100px !important;
        }
        .preview-container:hover{
            opacity: 70%;
        }
        @media only screen and (max-width: 1000px) {
            .content{
                left: 10%;
            }
            .preview-container{
                width: 80%;
            }
            .logo{
                width: 200px;
            }
            .content-left{
                left: 300px;
            }
            .search{
                left: 600px !important;
            }
        }
    }
</style>