---
import Header from "../components/MainHeader.astro"
import '../components/Purecss.scss'
import CSS from "../components/Content.astro"
const {frontmatter} = Astro.props;
const headerHeight = "70px"
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{frontmatter.title}</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>
    <body>
        <CSS/>
        <Header class="content-left" height={headerHeight} displayMenu="none" displaySearch="none" displayMenuHor="blok"/>
        <div class="content">
            <p>{frontmatter.category}</p>
            <div class="content-head">
                <h1 class="title">{frontmatter.contentTitle}</h1>
                <p class="description"><span><a href="/porto">{frontmatter.author}</a></span> | <span>{frontmatter.publish}</span> | <span>{frontmatter.timeread}</span></p>
            </div>
            <br/>
            <slot/>
        </div>
    </body>
</html>

<style define:vars={{headerHeight}} is:global>
    body{
        background-color: #272727;
        margin: 0px;
        font-family: 'Roboto';
        color: #bababa;
    }
    .content{
        position: absolute;
        top: var(--headerHeight);
        width: 50%;
        left: 25%;
    }
    .content-left{
        left: 25%;
    }
    .content-head{
        position: relative;
    }
    h1{
        color: antiquewhite;
    }
    img{
        width: 100%;
    }
    .title{
        font-weight: 900;
        font-size: 2.9vw;
    }
    .description{
        font-size: 1.2vh;
    }

    @media only screen and (max-width: 1800px) {
        .content{
            width: 70%;
            left: 15%;
        }
        .content-left{
            left: 15%;
        }
        .title{
            font-size: 3vw !important;
        }
    }
    @media only screen and (max-width: 1500px) {
        .content{
            width: 90%;
            left: 5%;
        }
        .content-left{
            left: 5%;
        }
        .title{
            font-size: 8vw !important;
        }
        p{
            font-size: 3vw !important;
        }
        h2{
            font-size: 4vw;
        }
    }
    @media only screen and (max-width: 1100px) {
        .content{
            width: 90%;
            left: 5%;
        }
        .content-left{
            left: 5%;
        }
        .title{
            font-size: 7vw !important;
        }
    }
    @media only screen and (max-width: 720px) {
        .content{
            width: 96%;
            left: 2%;
        }
        .content-left{
            left: 2%;
        }
        .title{
            font-size: 8vw !important;
        }
        p{
            font-size: 2vw;
        }
    }
</style>