---
import Header from "../components/MainHeader.astro"
import Footer from '../components/MainFooter.astro'

const {frontmatter} = Astro.props;
const headerHeight = "70px"
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{frontmatter.title}</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>
    <body> 
        <Header/>
        <div class="content">
            <p id="cat">{frontmatter.category}</p>
            <div class="content-head">
                <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 sm:text-6xl md:text-5xl lg:text-4xl dark:text-white">{frontmatter.contentTitle}</h1>
                <p class="description"><span><a href="/porto">{frontmatter.author}</a></span> | <span>{frontmatter.publish}</span> | <span>{frontmatter.timeread}</span></p>
            </div>
            <br/>
            <slot/>
        </div>
        <Footer mainClass="footer"/>
    </body>
</html>

<style define:vars={{headerHeight}} is:global>
    body{
        background-color: seashell;
        margin: 0px;
        width: 100%;
        font-family: 'Roboto';
    }
    .content{
        position: relative;
        top: var(--headerHeight);
        z-index: -100;
        min-height: 1500px;
    }
    #cat{
        position: relative;
    }
    .content-left{
        left: 25%;
    }
    .head-height{
        height: 70px;
        min-width: 1000px;
    }
    .content-head{
        position: relative;
    }
    .title{
        font-weight: 900;
        font-size: 2.9vw;
    }
    .description{
        font-size: 1.2vh;
    }

    @media (pointer: coarse)  {
	/* mobile device */
        .logo{
            top: 10px !important;
        }
        .content{
            width: 90%;
            left: 5%;
        }
        .content-left{
            left: 40%;
            font-size: 2.5vw;
        }
        .head-height{
            height: 120px;

        }
        #cat{
            position: relative;
            top: -10px;
        }
        .title{
            font-size: 8vw !important;
        }
        .footer{
            height: 500px !important;
            top: 120px !important;
        }
    }

    @media (pointer: fine), (pointer: none) {
	/* desktop */
        .content{
            width: 1000px;
            left: calc((100% - 1000px)/2);
        }
        .content-left{
            left: calc((100% - 1000px)/2);
        }
        .head-height{
            height: 70px;
        }
        #cat{
            position: relative;
            top: -10px;
        }
        .title{
            font-size: 3em !important;
        }

        @media only screen and (max-width: 1500px) {
            .content{
                left: 10%;
            }
            .content-left{
                left: 300px;
            }
        }
    }

    
</style>